{% extends 'base.html' %}
{% block content %}
<h1>Comecei com o pé esquerdo com Dostoiévski, mas, coitado, não era nem culpa dele, mas das circunstâncias. Li O Idiota (um livro grande, de umas 700 páginas) numa edição de bolso daquela editora Martin Claret (que dá enjoo igual de ônibus quando eu leio), a poucos meses do vestibular e ainda fazendo auto-escola. Tá na cara que não consegui fazer nada direito (nem a leitura nem a auto escola, o vestibular eu consegui). Quatro anos depois, ganhei de dia dos namorados Crime e Castigo (azar o seu se você ganhou camisa) pela editora 34, a primeira</h1>
{% endblock content %}
